/* Styles for universal elements */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --logoBlue: #E6F5FF;
    --logoDarkBlue: #003479;
    --white: #F8F5F1;
    --blue: #7AC1D8;
    --beige: #F8CDB4;
}
html {
    color: var(--logoDarkBlue);
    background-color: var(--white);
    font-size: 16px;
}
html, body {
    height: 100%;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}
section {
    margin: 30px 0;
    background-color: var(--white);
    text-align: center;
}

/* Styles for text */
h1, h2, h3 {
    margin-bottom: .5em;
}
h1 {
    color: var(--logoDarkBlue);
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 200%;
    font-weight: 600;
}
h2 {
    color: var(--logoDarkBlue);
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 150%;
    font-weight: 400;
}
p {
    color: var(--logoDarkBlue);
    font-family: "Koh Santepheap", serif;
    font-size: 100%;
    font-weight: 400;
}
a {
    color: var(--logoDarkBlue);
    font-family: "Koh Santepheap", serif;
    font-size: 100%;
    font-weight: 400;
}


/* Styles for sign-up and login page */
#signup, #login {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='23.5' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%2379add8ff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='0.5' stroke='%237ac1d8ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#signup-container, #login-container {
    background-color: var(--logoBlue);
    border: 3px solid var(--logoDarkBlue);
    border-radius: 1em;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: auto;
}
#signup-container img, #login-container img {
    max-width: 100%;
    width: 200px;
    height: auto;
}
#signup input, #login input {
    display: block;
    margin: 5px auto;
    border: 2px solid var(--logoDarkBlue);
    padding: 5px;
    font-family: "Koh Santepheap", serif;
    color: #424141;
    border-radius: .5em;
}
.signup-item, .login-item {
    margin:30px 0;
}
.btn-signup {
    padding: 8px;
    font-family: "Koh Santepheap", serif;
    border: 1px solid var(--logoDarkBlue);
    border-radius: .5em;
    color: var(--logoDarkBlue);
    background-color: var(--white);
    cursor: pointer;
}
#guestLink{
    color: var(--logoDarkBlue)
}


/* Styles for header section */
.mobile-nav {
    display: none;
}
header {
    background-color: var(--logoBlue);
    padding: 2em 0;
}
.navbar {
    text-align: center;
}
.navbar img {
    width: 12%;
}
.navbar ul {
    list-style-type: none;
    align-items: center;
}
.navbar li {
    width: 10%;
}
.navbar a {
    text-decoration: none;
    font-size: 150%;
    color: var(--logoDarkBlue);
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 600;
}



/* Styles for footer */
footer {
    padding: 30px 0;
    background-color: var(--logoDarkBlue);
    color: var(--white);
}
.footer-nav ul{
    list-style-type: none;
}
.footer-nav li a{
    text-decoration: none;
    color: var(--white);
}
.copyright {
    padding: 5em 0;
    text-align: center;
    font-size: 80%;
    color: var(--white);
}